#canvasArea svg.cldGraphStyle {
    box-sizing: border-box;
    margin: 0;
    background: #E5E4F6;
    overflow: hidden;
    padding: 0;
}


.cldLink{
    stroke: #69c;
    stroke-width: 4px;

}

.cldLinkHovered{
    stroke: #f00;
    stroke-width: 8px;

}

.cldArrowTailStyle{
    fill: #fff;
    stroke: #000;
    stroke-width: 1;
}
.cldArrowHeadStyle{
    fill: #fff;
     stroke: #000;
     stroke-width: 1;
 }

.cldLinkSelected{
    stroke: #0f0;
    stroke-width: 4px;
}