#canvasArea svg.exampleA {
    box-sizing: border-box;
    margin: 0;
    background: var(--main-widget-color-ten);
    overflow: hidden;
    padding: 0;
}

#canvasArea svg.exampleB {
    box-sizing: border-box;
    margin: 0;
    background: var(--main-widget-color-eleven);
    overflow: hidden;
    padding: 0;
}

#canvasArea svg.exampleC {
    box-sizing: border-box;
    margin: 0;
    background: var(--main-widget-color-twelve);
    overflow: hidden;
    padding: 0;
}

#canvasArea svg.exampleD {
    box-sizing: border-box;
    margin: 0;
    background: var(--main-widget-color-thirteen);
    overflow: hidden;
    padding: 0;
}

.exampleNodeA{
    fill: red;
}

.exampleNodeB{
    fill: red;
}

.overlayAreaRect{
    fill: #389c66;
}


.overlayToggle{
    stroke: red;
    stroke-width: 5px;
}

.undefinedLink{
    stroke: gray;
    stroke-width: 5px;
}

.positiveLink{
    stroke: #f00;
    stroke-width: 8px;
}
.negativeLink{
    stroke: #0ff;
    stroke-width: 5px;
}

.overlayLinkElement{
    fill   : #389c66;
    stroke : black;
    stroke-width: 2px;
}

.overlayLinkElementToggeled{
    fill   : #2e2e2e;
    stroke : red;
    stroke-width: 5px;

}

.overlayLinkElementHovered{
    fill   : red;
    stroke : black;
    stroke-width: 5px;
}
