#canvasArea svg.exampleA {
    box-sizing: border-box;
    margin: 0;
    background: crimson;
    overflow: hidden;
    padding: 0;
}

#canvasArea svg.exampleB {
    box-sizing: border-box;
    margin: 0;
    background: greenyellow;
    overflow: hidden;
    padding: 0;
}