.baseRoundNode{
    fill: #F6FBFF;
    stroke: #333;
    stroke-width: 2px;
}

.baseNodeHovered{
    fill: #Ff0000;
    stroke: #000;
    stroke-width: 2px;
}


.editOverlay{


}

.textStyleForCHeckBox{
    border  :none;
    color : #000000;
    /*margin-top: -20px;*/

    font-weight: 200;
}



p[contenteditable]:active {
    border  :none;
    color : #00ff00;
}

p[contenteditable]:focus {
    background: white;
    border : none;
    color : #2aabd2;

}


.baseDragPath{
    stroke: #00f;
    stroke-width: 5px;

}

.group-title{
    /*background: #f00;*/
    cursor : pointer;
}

.focused{
    stroke:#f00;
    stroke-width: 2px;
}

.baseHoveredPath{
    stroke:#f00;
    stroke-width: 5px;

}

.LinkFocused{
    stroke:#0f0;
    stroke-width: 5px;

}

.nodeOptionA{
    fill: #0f0
}
.nodeOptionB{
    fill: #00f
}
.nodeOptionC{
    fill: #ff0
}
