html, body, main, .row, .container-fluid {
	height: 100%;
}

body {
	background: #ececec;
	font-size: 14px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 1;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: fixed;
	width: 100%;
}

main {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border-width: 0px;
	border-style: solid;
	width: 100%;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.container-fluid {
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	min-width: 100%;
	min-height: 100%;
}

#log {
	position:relative;
	max-width: 100%;
	max-height: 100%;
	border: none;
}

/**
 * Side Menus
*/

#sidebar {
	min-height: 100%;
	height: 100%;
	overflow: scroll;
	color: #fff;
	background-color: #EEEEEE ;
	border-left:1px solid #E0E0E0;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 80px;
}

#toolbar {
	min-height: 100%;
	overflow: auto;
	color: #fff;
	background-color: #EEEEEE ;
	border-right:1px solid #E0E0E0;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
	padding-bottom: 32px;
}

/**
 * Canvas Area & Drawing of Elements
*/

#drawingArea {
	padding: 32px;
	background-color: #FAFAFA;
}

#canvasArea {
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;
	padding: 32px;
	background-color: #FAFAFA;
}

/**/

#library {
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	position: absolute;
	border: 0.5px solid #EEEEEE;
	border-radius: 5px
	padding: 1px;
	overflow: hidden;
}

.draggable {
  fill: gray;
}

/**
  * Custom Panel CSS
**/

.panel-body {
	color:#424242;
	border: 0px solid #E0E0E0;
	width: 100%;
	margin: 0px;
	padding: 32px;
	border-radius: 0px;
	border-bottom: 1px solid #E0E0E0;

}

.panel {
	margin: 0px;
	padding: 0px;
	border: 0px solid #E0E0E0;
	border-radius: 0px;
}

.panel-heading {
	height: 64px;
	background-color: #BDBDBD;
	color: #BDBDBD;
	border: 0px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	border-radius: 0px;
	padding: 0px;
}

.group-title {
	width: 100%;
	height: 100%;
	background-color: #FAFAFA;
	padding-left: 16px;
	padding-top: 22px;
	color: #757575;
	font-weight: lighter;
	font-size: 20px;
	vertical-align: middle;
}

.collapsing {
	transition:  25.0s;
}

.collapse {
	transition:  25.0s;

}

p{
    text-align: center;
    overflow: overlay;
    position: relative;
}

.conceptG text{
	pointer-events: none;
}

marker{
    fill: #333;
}

g.conceptG circle{
    fill: #F6FBFF;
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: rgb(200, 238, 241);
    cursor: pointer;
}

g.selected circle{
    fill: rgb(250, 232, 255);
}
g.selected:hover circle{
    fill: rgb(250, 232, 255);
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
    cursor: pointer;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}

/** Element Styling
	* Buttons, images ..
**/
#btn-opentoolBar {
	position: absolute;
	left: 48px;
	top: 48px;
	display:none;
	z-index: 9999;

	box-shadow:
			0 1px 0 #31b0d5,
			inset 0 1px 6px #31b0d5,
			inset 0 -1px 0 #31b0d5;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
