:root {
	/*For reference of neutral colors please visit:
			http://www.creativecolorschemes.com/resources/free-color-schemes/neutral-color-scheme.shtml
			Please not the colors are listed here in the same order as displayed on the site.
	*/
	--main-widget-color-one: #ffffe6;
	--main-widget-color-two: #e6ffe6;
	--main-widget-color-three: #e6ffff;
	--main-widget-color-four: #e6e6ff;
	--main-widget-color-five: #ffe6ff;
	--main-widget-color-six: #DBD7CC;
	--main-widget-color-seven: #CAB388;
	--main-widget-color-eight: #D5C4A1;
	--main-widget-color-nine: #E0D4BB ;
	--main-widget-color-ten: #B5B292;
	--main-widget-color-eleven: #C8C5AC;
	--main-widget-color-twelve: #D5D3BF;
	--main-widget-color-thirteen: #A8Ad84;
	--main-widget-color-fourteen: #C3C8CD;
	--main-widget-color-fifteen: #D2D6D9;

	/*Flat colors & Material UI colors for the nodes:
		https://flatuicolors.com/
		The colors are listed from top to bottom order as displayed on the site.
		The lighter accents are used for the inner coloring of the nodes.
	*/
	--main-node-color-one: #addcc9;
	--main-node-color-two: #8A8C72;
	--main-node-color-three: #fdd2b5;
	--main-node-color-four: #f7a8a6;
	--main-node-color-five: #f48b94;
	--main-node-color-six: #65e1c4;
	--main-node-color-seven: #65c0e1;
	--main-node-color-eight: #e74c3c;
	--main-node-color-nine: #ecf0f1;
	--main-node-color-ten: #ee76a4;
	--main-node-color-eleven: #f39f85;
	--main-node-color-twelve: #ee76a4;



	/*Flat UI colors and Material UI Colors
		https://flatuicolors.com/
		The colors are listed from top to bottom order as displayed on the site.
		The darker accents are used for the borders of the node elements.
	*/
	--main-node-border-one: #16a085;
	--main-node-border-two: #27ae60;
	--main-node-border-three: #2980b9;
	--main-node-border-four: #8e44ad;
	--main-node-border-five: #2c3e50;
	--main-node-border-six: #f39c12;
	--main-node-border-seven: #d35400;
	--main-node-border-eight: #c0392b;
	--main-node-border-nine: #bdc3c7;
	--main-node-border-ten: #7f8c8d;

	/*
		Link Colors
	*/
	--main-link-one: #616161;
	--hovered-link-one: #e74c3c;

}

body {
	background: var(--main-widget-color-one);
	height: 100%;
	font-size: 14px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 1;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: fixed;
	width: 100%;
}

main {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border-width: 0px;
	border-style: solid;
	width: 100%;
}

.snackwarning {
	background-color: red;
	color: white;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.container-fluid {
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	min-width: 100%;
	min-height: 100%;
	background-color: white;
}

#log {
	position:relative;
	max-width: 100%;
	max-height: 100%;
	border: none;
}

/**
 * Side Menus
*/

#sidebar {
	height: 97vh;
	overflow-y: scroll;
	color: #757575;
	background-color: white ;
	border-left:1px solid #E0E0E0;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom:64px;
}

#toolbar {
	min-height: 994px;
	color: #fff;
	background-color: white ;
	border-right:1px solid #E0E0E0;
	padding-right: 0px;
}

.titleToolbar {
	background-color: #FAFAFA;
	min-width: 100;
	height: 63px;
	border-bottom: 1px solid;
	border-color: #e0e0e0;
}

.head {
	color: #757575;
	font-weight: lighter;
	font-size: 20px;
	float: left;
	padding-left: 16px;
	padding-top: 20px;
}

#closemenu {
	float: right;
	margin-top: 20px;
	margin-right: 8px;
	position: sticky;
}

.widgitListToolbar {
	height: 91vh;
	overflow-y: auto;
	background-color: white;
	/*height: 994px;*/
	padding-bottom: 64px;
	text-align: center;
}

.widgetItem {
	border-bottom: 1px solid;
	border-color: #e0e0e0;
	color: #000;
	padding-bottom: 8px;
	padding-top: 8px;
}

.widgetItem:hover {
	background-color: yellow;
}
/**
 * Canvas Area & Drawing of Elements
*/

#drawingArea {
	padding: 0px;
	background-color: #FAFAFA;
}

#canvasArea {
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;
	padding: 32px;
	background-color: #FAFAFA;
}

/**/

.editingxhtml {
	color: red ;
	background-color: #fff;
	height: 10%;
	width: 100%;

}

.bodyNode {
	display: block;
	text-align: center;
	width: 100%;
	max-height: 10%;
	 background-color: transparent;
}

#library {
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	position: absolute;
	border: 0.5px solid #EEEEEE;
	border-radius: 5px
	padding: 1px;
	overflow: hidden;
}

.draggable {
  fill: gray;
}

/**
  * Custom Scrollbar CSS
**/

.widgitListToolbar::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.widgitListToolbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #2196F3;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.widgitListToolbar::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/**
  * Custom Panel CSS
**/

.panel-body {
	color:#424242;
	border: 0px solid #E0E0E0;
	width: 100%;
	margin: 0px;
	padding: 32px;
	border-radius: 0px;
	border-bottom: 1px solid #E0E0E0;

}

.panel {
	margin: 0px;
	padding: 0px;
	border: 0px solid #E0E0E0;
	border-radius: 0px;
}

.panel-heading {
	height: 64px;
	background-color: #BDBDBD;
	color: #BDBDBD;
	border: 0px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	border-radius: 0px;
	padding: 0px;
}

.group-title {
	width: 100%;
	height: 100%;
	background-color: #FAFAFA;
	padding-left: 16px;
	padding-top: 22px;
	color: #757575;
	font-weight: lighter;
	font-size: 20px;
	vertical-align: middle;
}

.collapsing {
	transition:  25.0s;
}

.collapse {
	transition:  25.0s;

}

p{
    text-align: center;
    overflow: overlay;
    position: relative;
}

.conceptG text{
	pointer-events: none;
}

marker{
    fill: #333;
}

g.conceptG circle{
    fill: #F6FBFF;
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: rgb(200, 238, 241);
    cursor: pointer;
}

g.selected circle{
    fill: rgb(250, 232, 255);
}
g.selected:hover circle{
    fill: rgb(250, 232, 255);
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
    cursor: pointer;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}

/** Element Styling
	* Buttons, images ..
**/
/*#btn-opentoolBar {
	position: absolute;
	left: 48px;
	top: 48px;
	display:none;
	z-index: 9999;

	box-shadow:
			0 1px 0 #31b0d5,
			inset 0 1px 6px #31b0d5,
			inset 0 -1px 0 #31b0d5;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}*/

#btn-opentoolBar {
	position: absolute;
	left: 48px;
	top: 48px;
	display:none;
	z-index: 9999;
}

/*
	Base Widget's Hooked with MDL Additional
	Styles
*/
.checkboxMargin {
		margin-top: 24px;
		margin-bottom: 4px;
}

.labelmdl {
	margin-bottom: 0px;
}
