#canvasArea svg.sdfGraphStyle {
    box-sizing: border-box;
    margin: 0;
    background: #aef6ee;
    overflow: hidden;
    padding: 0;
}


.SFD_Node{
    stroke: gray;
    stroke-width: 5px;
    fill: #ff0;
}

.overlayAreaRect{
    fill: #aef6ee;
}


.overlayToggle{
    stroke: red;
    stroke-width: 5px;
}

.undefinedLink{
    stroke: gray;
    stroke-width: 5px;
}
