#canvasArea svg.sdfGraphStyle {
    box-sizing: border-box;
    margin: 0;
    background: var(--main-widget-color-four);
    overflow: hidden;
    padding: 0;
}


.SFD_Node{
    stroke: gray;
    stroke-width: 5px;
    fill: #ff0;
}

.sfdLink {
    stroke: #cc833c;
    stroke-width: 4px;
    fill: none;
}
.overlayAreaRect{
    fill: #aef6ee;
}


.overlayToggle{
    stroke: red;
    stroke-width: 5px;
}

.undefinedLink{
    stroke: gray;
    stroke-width: 5px;
}
